<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.hnb.mapper.ArticleMapper">
 	<select id="count" resultType="int">
 		SELECT COUNT(RCD_NO) FROM BOARD
 	</select>
	<select id="getList" resultType="com.hnb.article.ArticleVO" parameterType="com.hnb.article.ArticleVO">
	   	SELECT 
	   		RCD_NO AS rcdNo,
	   		GRP_NO AS grpNO,
	   		THEME_NO AS themeNo,
	   		USR_NAME AS usrName,
	   		USR_MAIL AS usrMail,
	   		USR_SUBJECT AS usrSubject,
	   		USR_CONTENT AS usrContent,
	   		USR_PASS AS usrPass,
	   		USR_FILE_NAME AS usrFileName,
	   		USR_FILE_SIZE AS usrFileSize,
	   		USR_DATE AS usrDate,
	   		USR_REFER AS usrRefer,
	   		RCD_LEVEL AS rcdLevel,
	   		RCD_ORDER AS rcdOrder
   		FROM BOARD 
   		WHERE THEME_NO = #{themeNo}
	</select>
	<select id="count2">
		SELECT COUNT(RCD_NO) FROM BOARD 
		WHERE ${column} LIKE '%' ${key} '%'
	</select>
	<select id="searchByKeyword" resultType="com.hnb.article.ArticleVO" parameterType="com.hnb.global.Command">
 		SELECT 
 			RCD_NO AS rcdNo,
	   		USR_SUBJECT AS usrSubject,
	   		USR_NAME AS usrName,
	   		USR_DATE AS usrDate,
	   		USR_REFER AS usrRefer
 		FROM BOARD WHERE ${column} LIKE '%' ${key} '%' ORDER BY RCD_NO DESC
 	</select>
 	<select id="searchById" resultType="com.hnb.article.ArticleVO" parameterType="string">
		SELECT
			USR_PASS AS usrPass 
		FROM BOARD WHERE RCD_NO=${rcdNo]	
 	</select>
 	<update id="change" parameterType="com.hnb.article.ArticleVO">
 		UPDATE BOARD SET
 			USR_REFER=USR+1
		WHERE RCD_NO=${rcdNo}
 	</update>
 	<delete id="remove" parameterType="string">
 		DELETE FROM BOARD WHERE RCD_NO = #{rcdNo}
 	</delete>
 </mapper>